body {
  background-image: url(./assets/beach-shore-blue-water-4k_1540142321.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#logo {
    color: #BD0100;
    font-weight: bolder;
    font-size: 30px;
}

#card-btn {
  background-color: #BD0100;
  border: none;
}

#card-btn:hover {
  transform: scale(1.05);
}

#card-effect:hover {
  transform: scale(1.05);
}

#sales {
  color: #BD0100;
  font-weight: bold;
}

#social {
    color: #BD0100;
}

#footer {
    border-radius: unset;
    border: none;
    margin-top: 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
